.card{
    border:10px solid rgb(158, 135, 222);
    border-radius: 10px;
    background-color:rgb(215, 210, 238);
    color: antiquewhite;
    width: 360px;
    height: 440px;
    text-align: center;
}
.card-header{
    background-color: rgb(144, 175, 238);
    border: 10px; 
    margin-left: 5px;   
    margin-right: 5px;    
}

h1{
    border-left: 5px solid rgb(80, 135, 246);
    margin-right: 5px;        
}
.card-body{
    background-color: rgb(245, 236, 236);
    color: black;
    border-radius: 15px;
    margin: 10px;
}
.img-rouded{
    border-radius: 15px;   
    padding: 10px; 
}
.card-footer{
    border: 2px solid rgb(88, 86, 86);
    padding-top: 5px;         
}
.p-auto-10{
    padding: 10px;
}

.btn-enviar{
    background-color: rgb(68, 79, 68);
    border-radius: 5px;
}

.m-t{
    margin-top: 5px;
}

.m-b{
    margin-bottom: 9px;
}

.color-white{
    color: white;

}
.m-r{
    margin-right: 5px;
}
.m-l{
    margin-left: 5px;
}

.p-auto{
    padding: 10px;
}