.card{
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(60, 80, 121);
    color: rgb(255, 255, 255);
    width: 300px;
    height: 340px;
    text-align: center;
}
.card-header{
    background-color: rgb(38, 51, 77);
    border: 10px; 
    margin-left: 5px;   
    margin-right: 5px;
}

h1{
    border-left: 5px solid rgb(24, 100, 253);
    margin-right: 5px;        
}
.card-body{
    background-color: white;
    color: black;
    border-radius: 5px;
}
.img-rouded{
    border-radius: 5px;    
}
.card-footer{
    background-color: rgb(57, 70, 76);    
}

.btn-buy{
    background-color: green;
    border-radius: 5px;
}

.btn-details{
    background-color: rgb(0, 157, 255);
    border-radius: 5px;
}

.m-t{
    margin-top: 5px;
}

.m-b{
    margin-bottom: 9px;
}

.color-white{
    color: white;

}