body{
    background-color: rgb(157, 159, 158);    
}
div#tabla1{
    background-color: rgb(200, 255, 127);
    color: rgb(43, 198, 226);
}
#tabla2{
    background-color: rgb(70, 70, 72);
    color: rgb(217, 43, 226);
}
.titulos_contacto{
    text-align: center;
    color:crimson;
}
p.parrafos_contacto{
    text-align: center;
    color:rgb(20, 220, 217);
}

/* Práctica */

#p2{    
    color:tomato;
    font-size:x-large;    
}

li{
    color:aquamarine;
}

.experiencia{
    text-align: start;
    background-color:antiquewhite;
    color: rgb(13, 17, 236);
    border:rgb(217, 43, 226);    
}