#text-overline{
    text-decoration-line: overline;
    text-decoration-color: aqua;
    text-decoration-style: solid;
    text-decoration-thickness: 20px;
    text-transform: uppercase; 
}
#text-underline{
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    text-decoration-style: double;
    text-decoration-thickness: 10px;;
    text-transform:lowercase;
}
#text-line-through{
    text-decoration-line:line-through overline;
    text-decoration-color:chocolate;
    text-decoration-style: dashed;
    text-decoration-thickness: 5px;;
    text-transform:capitalize;
}
#text-line-dotted{
    text-decoration-line:line-through overline;
    text-decoration-color:green;
    text-decoration-style: dotted; 
}
#text-line-wavy{
    text-decoration-line:line-through overline;
    text-decoration-color:green;
    text-decoration-style: wavy;
}

#text-uno{
    text-decoration: underline wavy red 10px;
}

/* practica */
#text-uno{
    text-decoration-line: underline;
    text-decoration-color: aqua;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
}
#text-dos{
    text-decoration-line:line-through;
    text-decoration-color:brown;
    text-decoration-style:dashed;
    text-decoration-thickness: 4px;
}
#text-tres{
    text-decoration-line: overline;
    text-decoration-color: rgb(47, 0, 255);
    text-decoration-style:  double;
    text-decoration-thickness: 3px;
}
#text-unificado{
    text-decoration:line-through wavy red 5px;
}